@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Oswald:wght@300;400;500&family=Playfair+Display:wght@400;500&family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background: #1f3984;
  margin: 0;
}

.main-container {
  display: flex;
  justify-content: space-between;
}

.left {
  width: 40%;
  height: 100vh;
  background-color: #fff;
}

.form-login {
  margin-top: 28%;
  margin-bottom: 4%;
}

label {
  font-size: 12px;
  font-weight: 500;
}

input {
  margin-top: 20px;
  padding: 0px 20px 0px 20px;
  width: 60%;
  height: 40px;
  border-radius: 100px;
  border: 0px;
  font-weight: 500;
  background-color: #ededed;
}

button {
  margin-top: 25px;
  width: 67%;
  height: 40px;
  border-radius: 100px;
  border: 0px;
  font-weight: 500;
  color: #fff;
  background-color: #1f3984;
  transition: width 0.3s, height 0.3s;
}

button:hover {
  background-color: #1b3172;
}

.lupa-password {
  color: #000;
  font-size: 12px;
}

.lupa-password span {
  color: #1f3984;
  font-weight: 600;
}

.lupa-password span a {
  text-decoration: none;
}

.lupa-password span:hover a {
  text-decoration: underline;
}

.right {
  position: relative;
  width: 60%;
  height: 100vh;
  background-image: linear-gradient(
      0deg,
      rgba(25, 44, 101, 0.7),
      rgb(31, 57, 132, 0.7)
    ),
    url("../assets/images/login-image.jpg");
  background-size: cover;
  background-position: center;
}

.tanggal {
  text-decoration: none;
  color: #fff;
  margin-right: 4%;
  margin-top: 4%;
  font-size: 12px;
  font-weight: 500;
  text-align: right;
}

.sim-pkl {
  text-decoration: none;
  color: #fff;
  width: 50%;
  margin-top: 2%;
  margin-left: 46%;
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 700;
  text-align: right;
}

.sim-pkl span {
  color: #ffeb38;
}

.logo-list {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin-left: 76%;
  margin-top: 20%;
}

.logo-list img {
  width: fit-content;
  height: 35px;
}
